<p>Your orer has been deleted!</p>



<!-- I created a new self.delete method to call on. this way i could add a delete order button on the single order page and use the local variable id to input into the self.delete function. the page then redirected me to this page confirming the deletion -->
